body,div,span,a,ul,ol,li,p,h1,h2,h3,h4,h5,h6,input,dl,dt,dd{margin:0;padding:0}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: 400;}
div{display:block}
body{background: #FFF;}
ol,ul{list-style: none;}
a{text-decoration: none;cursor: pointer;color: #3a3a3a;}
body, button, input, select, textarea {
    font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.shopping-car,.search .search-box .button,.category-info i,.home-list li.s3 .icon-notice span,.goods-rolling span,.last li i,.hungBar-top i {
	background: url(../../images/icon-common.png);
}
ima a{border: 0 none;}
a:hover{color: #ca141d;}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400;
}
.line {
    width: 100%;
    height: 1px;
    background: #ddd;
}
/*高度塌陷*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.hr-10{height: 10px;}
.hr-20{height: 20px;}
.hr-30 {height: 30px;}
.hr-60{height: 60px;}
.hr-500{height: 500px;}

.shortcut{
	min-width: 1200px;
	height: 30px;
    line-height: 30px;
    background-color: #fff;
}
.shortcut li{
	float: left;
    padding: 0 8px;
    position: relative;
}
.shortcut li:first-child {
    padding-left: 0;
}
.shortcut li:before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    background: #e4e4e4;
}
.shortcut li:first-child:before {
	content: "";
    width: 0px;
}
.shortcut a{
	color: #a4a4a4;
}
.s-main{
	float: right;
	margin-right: -18px;
}
.shopping-car{
	padding-left: 28px;
	background: url(../../images/icon-common.png);
}
.s-main li .tool-car{
	position: relative;
    z-index: 300;
    margin: 0 -8px;
    height: 30px;
}
.tool-car-00{
	padding: 0 18px 0 12px;
}


/*header*/
.header{
    width: 1200px;
    margin: 0 auto;
	height: 50px;
	padding: 10px 0;
	background: #FFFFFF;
}
.logo{
	float: left;
    margin-right: 40px;
    width: 240px;
    height: 50px;
}
.logo a{
	float: left;
}
.nave{
	float: left;
    max-width: 560px;
    height: 40px;
    overflow: hidden;
    margin-top: 5px;
}
.nave li{
	float: left;
    margin-right: 20px;
    font-size: 16px;
    color: #3a3a3a;
    line-height: 40px;
}
.nave-list li:hover{
	color: #ca141d;
	line-height: 40px;
	border-bottom: 3px #ca141d solid;
	height: 37px;
}
.right{
	float: right;
}
.search{
	margin-top: 10px;
	position: relative;
}
.search .search-box{
    border: 1px solid #ddd;
    width: 328px;
    height: 30px;
    border-radius: 2px;
    overflow: hidden;
}
.search .search-box .text{
	background: #fff;
    border: 0;
    color: #3a3a3a;
    width: 299px;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
}
.search .search-box .button{
	width: 20px;
    height: 33px;
    cursor: pointer;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    right: 12px;
	background-position: 0 -21px;
	
}
.search .search-key{
	position: absolute;
    max-width: 280px;
    left: 10px;
    bottom: 7px;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
}
.search .search-key a{
	color: #a4a4a4;
    font-size: 12px;
    margin-right: 10px;
    padding: 4px 4px 1px;
    background: #f5f5f5;
}

/*左侧边栏*/
.nave-main{
	min-width: 1200px;
    background-color: #FFF;
    position: relative;
    z-index: 410;
}
.nave-main .nave-box{
	position: absolute;
    left: 0;
    top: 0;
    width: 240px;
}
.nave-main .nave-ol-list{
	padding-bottom: 0;
    position: relative;
    height: 450px;
    background-color: rgba(0,0,0,0.6);
    border-top: 0 none;
    font-size: 0;
}
.nave-main .category-info{
    padding: 10px 16px;
    height: 55px;
    position: relative;
}
.category-info a{
	color: #999;
    margin-right: 8px;
    font-size: 14px;
}
.category-info i{
	display: block;
    position: absolute;
    width: 7px;
    height: 13px;
    top: 50%;
    margin-top: 3px;
    right: 10px;
	background-position: -9px -214px;
}

/*导航信息部分*/
.g {
    width: 1200px;
    margin: 0 auto;
    zoom: 1;
}
.breadcrumb-area {
    color: #BBB;
}
.breadcrumb-area {
    margin-left: 1px;
    line-height: 1.5;
    padding-top: 10px;
}
.fcn {
    font-family: \5b8b\4f53;
}
.breadcrumb-area a, .breadcrumb-area span {
    color: #666;
    font-family: \5FAE\8F6F\96C5\9ED1,\5B8B\4F53;
}
.breadcrumb-area a:hover, .breadcrumb-area span {
    color: #333;
}
.g:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

/*产品信息部分*/
/*left*/
.exzoom{
	width: 450px;
	height: 536px;
}


/*right*/
.product {
    width: 1200px;
    margin: 0 auto;
}
.relative {
    position: relative;
}
.fr, .right, .right-area {
    float: right;
}
.product-property {
    width: 700px;
    padding: 0 0 30px 30px;
}

/*商品简介-信息*/
/*价格*/
.product-meta h1 {
    font-size: 21px;
    max-height: 84px;
    overflow: hidden;
    margin-bottom: 10px;
}
.product-meta .product-slogan {
    font-size: 14px;
    padding-right: 40px;
    margin-bottom: 12px;
    position: relative;
    top: -3px;
    line-height: 20px;
}
.product-meta .product-slogan .product-slogan-link {
    margin-right: 15px;
    color: #ca141d;
}
.product-meta .product-slogan {
    font-size: 14px;
    padding-right: 40px;
    margin-bottom: 12px;
    position: relative;
    top: -3px;
    line-height: 20px;
}

/*促销*/
.product-info {
    background: #f5f5f5;
    padding-top: 14px;
    padding-bottom: 3px;
}
.product-info-list {
    padding-bottom: 4px;
}
.product-property label {
    float: left;
    width: 85px;
    text-indent: 10px;
    line-height: 30px;
}
.product-price .product-price-info {
    float: left;
    font-size: 18px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
}
.product-price .product-price-info span {
    color: #ca141d;
    padding-right: 3px;
}
.f24 {
    font-size: 24px;
}
.product-price .product-price-info em {
    font-size: 18px;
    margin-right: 4px;
}
.product-price .product-price-info em {
    font-size: 18px;
    margin-right: 4px;
}

/*促销*/
.product-info-list {
    padding-bottom: 4px;
}

.product-prom.show {
    max-height: 1000px;
}
.product-prom {
    width: 615px;
    max-height: 120px;
    overflow: hidden;
}
.show {
    display: block;
}
.fl, .left, .left-area {
    float: left;
}
.product-prom-item {
    min-height: 30px;
}
.product-prom-item .tag {
    float: left;
    line-height: 18px;
    height: 18px;
    border: 1px solid #ca141d;
    padding: 0 6px;
    min-width: 24px;
    color: #ca141d;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}
.product-prom-item .product-prom-con {
    float: left;
    line-height: 1.5;
    margin-top: 6px;
    max-width: 485px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    display: block\0;
    justify-content: center;
}

/*服务说明*/
.product-pulldown {
    margin-bottom: 10px;
}
.product-description label {
    line-height: 1.5;
}
.product-description p {
    float: left;
    width: 548px;
}
.product-description p em {
    width: 1px;
    height: 12px;
    background: #e6e6e6;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    top: 3px;
}
.hr-5{
	height: 5px;
	border-bottom: 1px solid #ddd;
	
}

.hr-16{
	height: 16px;
}
/*选择*/
/*选择颜色*/
.product-choosepic label {
    line-height: 40px;
}
.product-choose ul {
    width: 605px;
}
.product-choose ul li {
    float: left;
    margin: 0 10px 10px 0;
}
.product-choosepic ul li a {
    height: 38px;
}
.product-choose ul li a {
    display: block;
    border: 1px solid #a4a4a4;
    text-align: center;
    height: 28px;
    border-radius: 2px;
    position: relative;
    padding: 0 12px;
}
.product-choosepic ul li a {
    height: 38px;
}
.product-choosepic ul li a img {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 4px;
}
.product-choosepic ul li a p {
    height: 34px;
    overflow: hidden;
    float: left;
    margin-top: 3px;
    margin-left: 6px;
}

.product-choose ul li a span {
    height: 30px;
    line-height: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    min-width: 54px;
}
.product-choosepic ul li a span {
    height: 34px;
    line-height: 17px;
    min-width: 0;
    max-width: 86px;
}
.product-choose ul li.selected a {
    border: 1px solid #ca141d;
}

/*保障服务*/
.product-pulldown {
    margin-bottom: 10px;
}
.product-service {
    float: left;
    margin-right: 10px;
    position: relative;
}
.product-service .product-service-btn {
    height: 28px;
    line-height: 28px;
    padding: 0 34px 0 10px;
    float: left;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}
.product-service .product-service-btn .max-w {
    max-width: 164px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-service .product-service-btn:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: 8px;
    background: url(../../images/icon50.png) no-repeat 0 0;
}

/*选择商品*/
.product-operation-location {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 100%;
}
.product-operation-main {
    min-height: 49px;
    padding-top: 10px;
}
.product-property label {
    float: left;
    width: 85px;
    text-indent: 10px;
    line-height: 30px;
}
.product-description label {
    line-height: 1.5;
}
.product-description .product-selected {
    color: #ca141d;
    width: 568px;
    float: left;
}
.product-operation {
    margin-top: 10px;
}
.product-operation .product-stock {
    float: left;
    border: 1px solid #d6d6d6;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
}
.product-operation .product-stock .product-stock-btn {
    width: 21px;
    float: left;
}
.product-operation .product-stock .product-stock-btn a {
    display: block;
    font-size: 16px;
    width: 21px;
    height: 21px;
    line-height: 22px;
    text-align: center;
    color: #777;
    font-weight: bold;
}
.product-operation .product-stock .product-stock-btn a:first-child {
    border-bottom: 1px solid #e2e2e2;
}
.product-operation .product-stock .product-stock-btn a.disabled {
    color: #c4c4c4;
    cursor: not-allowed;
}
.product-buttonmain {
    position: relative;
    margin-left: 85px;
}
.product-button a {
    float: left;
    margin-right: 10px;
}
.product-button01 {
    display: block;
    background: #fc600c;
    width: 172px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}
.product-button02 {
    display: block;
    background: #ca151d;
    width: 172px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}
.product-operation .product-stock .product-stock-text {
    float: left;
    width: 41px;
    height: 44px;
    line-height: 44px;
    border: 0;
    font-size: 18px;
    text-align: center;
    border-right: 1px solid #e2e2e2;
}

/*商品详情--书签*/
.layout {
    width: 1200px;
    margin: 0 auto;
}
.product-tab p {
    padding: 36px 0 37px 0;
    text-align: center;
    font-size: 0;
}

.product-tab p a {
    margin: 0 25px;
    font-size: 18px;
    padding: 0 10px 6px 10px;
    color: #a4a4a4;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.product-tab p a em {
    width: 100%;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
/*被选中的样式--添加selected*/
.product-tab p a.selected {
    color: #ca141d;
    cursor: default;
}
.product-tab p a.selected em {
    background: #ca141d;
}

.product-tab .product-tab-btn {
    position: absolute;
    top: 9px;
    right: 10px;
}

/*吸顶时添加class--product-tab-top*/
.product-tab-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 2px #ddd;
    z-index: 100;
}

/*商品详情*/
.product-detail {
    text-align: center;
    overflow: hidden;
    min-width: 1200px;
}
.product-detail img {
    vertical-align: top;
    width: 100%;
    min-width: 1000px;
}
.product-shade {
    width: 100%;
    height: 300px;
    background: url(../../images/echannel/bg/bg67.png) repeat-x;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}

/*规格参数*/
.product-title {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    position: relative;
    padding-left: 14px;
}
.product-title:before {
    content: "";
    width: 4px;
    height: 23px;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    background: #ca141d;
}
.product-parameter .product-parameter-main h2 {
    font-size: 22px;
    font-weight: 600;
    width: 100px;
    float: left;
    position: relative;
    top: -1px;
}
.product-parameter ul {
    font-size: 14px;
    float: right;
}
.product-parameter .product-parameter-main ul li {
    position: relative;
}
.product-parameter ul li {
    margin-bottom: 9px;
}
.product-parameter .product-parameter-main ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 3px;
    background: #d8d8d8;
    position: absolute;
    top: 8px;
    left: -16px;
}
.product-parameter ul li label {
    float: left;
    width: 128px;
}
.product-parameter ul li span {
    float: left;
    width: 854px;
    margin-left: 20px;
}
.product-parameter ul li:after {
    content: " ";
    display: table;
    clear: both;
}
.product-parameter .product-parameter-main {
    padding: 9px 50px 32px 16px;
}

/*包装与售后*/
.product-title {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    position: relative;
    padding-left: 14px;
}
.product-packing {
    padding: 38px 30px 40px 130px;
}
.product-packing span {
    display: block;
}
.product-packing em {
    font-size: 14px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #3a3a3a;
    margin-right: 20px;
    margin-bottom: 16px;
    padding-left: 16px;
    width: 223px;
}
.product-packing em:before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 3px;
    background: #d8d8d8;
    position: absolute;
    top: 7px;
    left: 0;
}

/*用户评价*/
.bg-gray {
    background: #f5f5f5;
    min-width: 1200px;
}
.product-score {
    padding: 46px 0 34px 0;
    position: relative;
}
.product-score .product-score-average label {
    left: 16px;
}
.product-score label {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.product-score .product-score-average p {
    color: #ca141d;
    font-size: 72px;
    width: 100px;
    position: absolute;
    top: 50%;
    margin-top: -54px;
    left: 88px;
}
.product-score .product-score-average p em {
    font-size: 22px;
}
.product-score .product-score-impress {
    float: left;
}
.product-score .product-score-impress label {
    left: 240px;
}
.product-score label {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.product-score .product-score-impress .product-score-impress-info {
    float: left;
    margin-left: 326px;
    width: 874px;
    overflow: hidden;
}
.product-score .product-score-impress ul {
    width: 910px;
}