/*结尾第一部分*/
.last {
    clear: both;
    width: 100%;
    height: 140px;
    background: #f0f0f0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.last-div {
    padding: 46px 0 46px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.last-div li i{
	display: inline-block;
    line-height: 47px;
    width: 47px;
    height: 47px;
    margin-right: 16px;
    vertical-align: middle;
}
.last-div ul li {
    float: left;
    line-height: 47px;
    font-size: 18px;
    color: #3a3a3a;
    height: 47px;
    width: 300px;
    text-align: left;
}
.last-div li.last-div-li1 i{
    background-position: 0 -151px;
}
.last-div li.last-div-li2 i{
    background-position: -47px -151px;
}
.last-div li.last-div-li3 i{
    background-position: -94px -151px;
}
.last-div li.last-div-li4 i{
    background-position: -141px -151px;
}

/*service部分*/
.service-container{
	border-top: 1px solid #EEE;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    line-height: 1.5;
    background: #f0f0f0;
    width: 100%;
    min-width: 1200px;
}
.service-container .service{
	border-top: 1px solid #e8e8e8;
    padding: 26px 0 18px;
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.service-left{
	width: 944px;
    min-height: 164px;
    margin-top: 2px;
    border-right: 1px solid #ebebeb;
    float: left;
}
.service-left dl{
	width: 16.66667%;
	float: left;
}
.service dt {
    font-size: 14px;
    color: #3a3a3a;
    position: relative;
}
.service dt .line {
    background: #a8a8a8;
    width: 22px;
    height: 2px;
    margin: 2px 0 12px 0;
}
.service dt .s-title {
    font-size: 14px;
    padding-bottom: 12px;
    color: #3a3a3a;
    display: block;
    border-left: none;
    padding-left: 0;
    line-height: 1.5;
    margin-bottom: 0;
}
.service dd li {
    line-height: 24px;
}
.service dd a {
    color: #666;
}
.service dt .button {
    position: absolute;
    left: 60px;
    bottom: 12px;
}
.service dt .btn {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #b3b3b3;
    border-radius: 3px;
    margin-right: 2px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    line-height: 12px;
}
.service dt .btn.disabled {
    cursor: not-allowed;
    background: #CCC;
}
.service .service-r {
    width: 210px;
    min-height: 164px;
    margin-top: 2px;
    padding-left: 40px;
    float: left;
}
.service dl {
    float: left;
}
.service dt {
    font-size: 14px;
    color: #3a3a3a;
}
.service dt .line {
    background: #a8a8a8;
    width: 22px;
    height: 2px;
    margin: 2px 0 12px 0!important;
}
.service dl.s7 .s-title {
    font-size: 24px!important;
    padding: 0;
    line-height: 24px;
}
.service dd li {
    line-height: 24px;
}
.service dd a {
    color: #666;
}
.service-btn {
    width: 161px;
    height: 35px;
    padding: 0;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #900!important;
    cursor: pointer;
    transition: all .4s;
    border-radius: 5px;
}

/*footer部分*/
.foot {
    width: 100%;
    height: 100px;
    background: #e6e6e6;
}
.foot-div {
    width: 1200px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
}
.left{
	float: left;
}
.foot-div>span {
    margin-top: 45px;
    display: block;
    width: 80px;
    height: 18px;
    background: url(../../images/icon-common.png) -101px -45px no-repeat;
}
.foot-div>.foot-div-right {
    margin-left: 38px;
}
.foot-div>.foot-div-right>p {
    font-size: 11px;
    color: #a6a4a4;
    margin-top: 25px;
    line-height: 20px;
}
.foot-div>.foot-div-right>ul>li {
    float: left;
    font-size: 11px;
    color: #a6a4a4;
}
.foot-div>.foot-div-right>ul>li>a {
    color: #a6a4a4;
}
.foot-div>ul>li {
    float: left;
    position: relative;
}
.foot-div>ul>li>a>img {
    display: inline-block;
    width: 70px;
    height: 24px;
    margin-right: 4px;
}
.foot-div>ul {
    margin-top: 40px;
}

