<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品详情页</title>

		<link rel="stylesheet" href="./css/details.min.css">
		
	</head>
	<body>
	  
		<div class="shortcut">
			<div class="s-sub">
				<ul>
					<li><a href="">首页</a></li>
					<li><a href="">华为官网</a></li>
					<li><a href="">荣耀官网</a></li>
					<li><a href="">花粉俱乐部</a></li>
					<li><a href="">帮助中心</a></li>
					<li><a href="">V码(优购码)</a></li>
					<li><a href="">企业购</a></li>
					<li><a href="">Select Region</a></li>
					<li><a href="">下载APP</a></li>
					<li><a href="">更多精彩</a></li>
				</ul>
			</div>
			<div class="s-main">
				<ul>
					<li class="register_login">
						<a href="" class="register">请登录</a>
						<a href="" class="login">&nbsp;&nbsp;注册</a>
					</li>
					<li><a href="">我的订单</a></li>
					<li>
						<div class="tool-car">
							<div class="tool-car-00">
								<a href="" class="shopping-car">购物车(0)</a>
							</div>
							<!--............................
							<div class="tool-car-01">
								<!--迷你购物车start
								<div class="tool-content">
									<!--购物车为空
									<div class="tool-empty">
										<p><span class="icon-minicart"></span></p>
										<p>您购物车是空的，赶紧选购吧~</p>
									</div>
									<!--购物车不为空
									<div class="full">
										
									</div>
									
								</div>
								<!--迷你购物车end
							</div>-->
							
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<!--header部分开始-->
		<div class="header">
			<div class="layout">
				<div class="left">
					<div class="logo logo-area">
		                <a href=""><img src="../images/201706301129294766528.png"/></a>
		            </div>
					<div class="nave">
						<ul class="nave-list" id="naveList">
							<li id="huawei">手机</li>
							<li id="honor">笔记本  &amp; 平板</li>
							<li id="huawei">穿戴</li>
							<li id="honor">智能家居</li>
							<li id="huawei">通用配件</li>
							<li id="huawei">专属配件</li>
						</ul>
					</div>
				</div>
				<div class="right">
					<div class="search">
						<div class="search-box">
							<form action="" method="get">
								<input type="text" class="text" name="" id="" value="" style="outline: none;">
								<input type="submit" class="button" name="" id="" value="">
							</form>
						</div>
						<div class="search-key">
							<a href="">荣耀8X</a>
							<a href="">麦芒7</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="side-bar" style="display: none;">
				<div class="g">
					<div class="breadcrumb-area fcn"><a>全部手机</a>&nbsp;&gt;&nbsp;<span>荣耀系列</span><span>畅玩系列</span><span>荣耀系列</span><span>畅玩系列</span></div>
				</div>
				
				<div class="hr-10"></div>
				
				<ul class="grid-list">
					
					
				</ul>
			</div>
			
		</div>
		<!--head部分结束-->
		
		<div class="hr-10"></div>
		
		<div class="g">
			<div class="breadcrumb-area fcn">
				<a >首页</a>&nbsp;&gt;&nbsp;<a>手机</a>&nbsp;&gt;&nbsp;<a>荣耀</a>&nbsp;&gt;&nbsp;
				<span id="bread-pro-name">荣耀8X 千元屏霸 高屏占比 2000万AI双摄 全网通 4GB+64GB（幻夜黑）</span>
			</div>
		</div>
		
		<div class="hr-10"></div>
		
		<!--产品部分-->
		<div class="product clearfix">
			<div class="left">
				<!--放大镜-->
				<div class="exzoom" id="exzoom">
				    <!--大图区域-->
				    <div class="exzoom_img_box">
				        <ul class='exzoom_img_ul'>
				            <li><img src="../images/428_428_1536628129335mp.jpg"/></li>
				            <li><img src="../images/428_428_1536628129335mp.jpg"/></li>
				            <li><img src="../images/428_428_1536628129335mp.jpg"/></li>
				            <li><img src="../images/428_428_1536628129335mp.jpg"/></li>
				            <li><img src="../images/428_428_1536628129335mp.jpg"/></li>
				            <li><img src="../images/428_428_1536628129335mp.jpg"/></li>
				            <li><img src="../images/428_428_1536628129335mp.jpg"/></li>
				            
				        </ul>
				    </div>
				    <!--缩略图导航-->
				    <div class="exzoom_nav"></div>
				    <!--控制按钮-->
				    <p class="exzoom_btn">
				        <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
				        <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
				    </p>
				</div>                  
				
			</div><!--left div结束-->
			
			<div class="right relative">
				<div class="product-property clearfix relative" style="min-height: 536px;">
					<div class="product-property-recommand">
						<!--商品简介-商品信息-->
						<div class="product-meta">
			                <h1 id="pro-name">荣耀8X 千元屏霸 高屏占比 2000万AI双摄 全网通 4GB+64GB（幻夜黑）</h1>
			                <div class="product-slogan" id="skuPromWord" style="display: -webkit-box;">
			                	<a href="javascript:;" class="product-slogan-btn" style="display: none;"></a> 
			                	<span class="product-slogan-link">千元屏霸 购新机得双倍积分！</span>
			                	<span>千元屏霸 91%屏占比 2000万AI双摄</span>
			                </div>
			            </div>
						
						<div class="product-info">
							<!--价格-->
							<div class="product-info-list clearfix">
				                <label>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格</label>
			                    <div class="product-price clearfix">
			                        <div class="product-price-info">
			                              <span id="pro-price" class="f24"><em>¥</em>1399.00</span>
			                        </div> 
			                    </div>
			                </div>
							<!--促销-->
							<div class="product-info-list clearfix" id="product-info-list-new" 0="" style="">
			                    <label>促&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销</label>
			                    <div class="product-prom fl  show" id="product-prom-all">
			                    <div class="product-prom-item clearfix" style="display: block;"> <em class="tag">积分翻倍</em> <div class="product-prom-con"> 活动赠送翻倍积分，积分可抵现~ </div> </div></div>
			                </div>
							
							
							
						</div>
						<!--简介结束-->
						
						<div class="hr-20"></div>
						
						<!--服务说明-->
						<div class="product-pulldown clearfix product-description">
							<label>服务说明</label>
							<div class="fl">
						    	<div class="product-description clearfix">
									<p>已满48元已免运费<em></em>由华为商城负责发货，并提供售后服务</p>
					            </div>
					        </div>
						</div>
						
						<!--商品编码-->
						<div class="product-description clearfix">
			                <label>商品编码</label>
			                <div class="fl" id="pro-sku-code2">2601010058701</div>
			            </div>
						
						<div class="hr-5"></div>
						
						<div class="hr-16"></div>
						
						<!--选择-->
						<div class="" id="pro-skus">
							<!--选择颜色-->
							<dl class="product-choose clearfix  product-choosepic">
								<label>选择颜色</label>
								<div class="product-choose-detail ">
									<ul>
										<!--点击给li添加class名  select-->
										<li>
											<div class="sku"><a href="javascript:;" title="幻夜黑"><img src="../images/40_40_1536628129335mp.jpg" alt="幻夜黑"><p><span>幻夜黑</span></p></a></div>
										</li>
										<li>
											<div class="sku"><a href="javascript:;" title="魅海蓝"><img src="../images/40_40_1536627883158mp.jpg" alt="魅海蓝"><p><span>魅海蓝</span></p></a></div>
										</li>
										<li>
											<div class="sku"><a href="javascript:;" title="魅焰红"><img src="../images/40_40_1536627781497mp.jpg" alt="魅焰红"><p><span>魅焰红</span></p></a></div>
										</li>
									</ul>
								</div>
							</dl>
							<!--选择颜色结束-->
							
							<!--选择版本-->
							<dl class="product-choose clearfix ">
								<label>选择版本</label>
								<div class="product-choose-detail ">
									<ul>
										<li>
											<div class="sku"><a href="javascript:;" title="全网通 4GB+64GB"><p><span>全网通 4GB+64GB</span></p></a></div>
										</li>
										<li>
											<div class="sku"><a href="javascript:;" title="全网通 4GB+64GB"><p><span>全网通 6GB+64GB</span></p></a></div>
										</li>
										<li>
											<div class="sku"><a href="javascript:;" title="全网通 4GB+64GB"><p><span>全网通 6GB+128GB</span></p></a></div>
										</li>
									</ul>
								</div>
							</dl>
							<!--选择版本结束-->
							
							<!--选择套餐-->
							<dl class="product-choose clearfix">
								<label>选择套餐</label>
								<div class="product-choose-detail  relative">
									<ul>
										<li><div class="sku"><a href="javascript:;" title="官方标配"><p><span>官方标配</span></p></a></div></li>
										<li><div class="sku"><a href="javascript:;" title="套餐一"><p><span>套餐一</span></p></a></div></li>
										<li><div class="sku"><a href="javascript:;" title="套餐二"><p><span>套餐二</span></p></a></div></li>
										<li><div class="sku"><a href="javascript:;" title="套餐三"><p><span>套餐三</span></p></a></div></li>
									</ul>
								</div>
								
							</dl>
							<!--选择套餐结束-->
						</div>
						
						<!--保障服务-->
						<div class="product-pulldown clearfix hide" style="display: block;" id="pro-service">
							<label>保障服务</label>
							<div class="product-service">
								<a href="javascript:;" onclick="ec.product.click_function(this)" class="product-service-btn">
									<span class="fl max-w">延长服务宝1年</span>
									<span class="fl">&nbsp;￥158</span>
								</a>
							</div>
							<div class="product-service">
								<a href="javascript:;" onclick="ec.product.click_function(this)" class="product-service-btn">
									<span class="fl max-w">碎屏(含后盖)服务宝半年</span>
									<span class="fl">&nbsp;￥79</span>
								</a>
							</div>
							
							
						</div>
						
						<!--购买商品-->
						<div class="product-operation-main product-operation-location" style="min-height: 49px;">
							<div class="product-description clearfix">
				                <label>已选择商品:</label>
				                <div id="pro-select-sku" class="product-selected">幻夜黑 / 全网通 4GB+64GB / 官方标配 </div>
				            </div>
							
							<div class="product-operation relative" id="product-operation" style="display: block;">
								<div class="clearfix">
									<div class="product-stock" id="pro-quantity-area">
										<input id="pro-quantity" type="text" class="product-stock-text" placeholder="1" value="1">
										<p class="product-stock-btn">
											<a id="pro-quantity-plus" href="javascript:;">+</a>
											<!--添加disabledclass使鼠标指针改变-->
											<a id="pro-quantity-minus" href="javascript:;" class="">−</a></p>
									</div>
									<div class="product-buttonmain">
										<div class="product-button clearfix" id="pro-operation" style="visibility: visible;">
											<a href="javascript:;"  class="product-button01"><span>加入购物车</span></a>
											<a href="javascript:;" class="product-button02"><span>立即下单</span></a>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						
						
					</div>
					
					
				</div>
				
			</div><!--right  div结束-->
		</div>
		
		<div class="hr-20"></div>
		<div class="line"></div>
		
		<!--商品详情--书签-->
		<div class="product-tab" id="product-tab" style="position: static; top: 0px; background: rgb(255, 255, 255); width: 100%; z-index: 100;"><!--移到顶部的时候添加class="product-tab-top"-->
			<!--移到顶部的时候   吸顶效果  添加class="product-tab-top"-->
		    <div class="layout relative" id="layoutRelative">
		        <p>
		            <a href="javascript:;" id="pro-tab-feature" class="selected">商品详情<em></em></a><!--选中 a 添加 class="selected"-->
		            <a href="javascript:;" id="pro-tab-parameter">规格参数<em></em></a>
		            <a href="javascript:;" id="pro-tab-package-service" style="display: inline;">包装与售后<em></em></a>
		            <a href="javascript:;" id="pro-tab-evaluate">用户评价<em></em><span>(12079)</span></a>
		        </p>
		    </div>
		</div>
		
		<!--商品详情-->
		<div id="pro-tab-feature-content" class="product-detail relative tit1">
		    <div id="pro-detail-contents">
		    	    	<div id="pro-detail-content-10086339328421" class="pro-detail-see" style="height: 2000px;">
					    	<div id="kindPicture-10086339328421">
					    		<p><img src="https://res.vmallres.com/pimages/detailImg/2018/09/13/201809131650543377051.jpg" ></p>
					    		<p><img src="https://res.vmallres.com/pimages/detailImg/2018/09/19/201809190919521792824.png" ></p>
					    		<p><img src="https://res.vmallres.com/pimages/detailImg/2018/09/04/201809041551362904248.jpg" ></p>
					    		<p><img src="https://res.vmallres.com/pimages/detailImg/2018/09/04/201809041551388202917.jpg" ></p>
					    	</div>
				    	</div>
		    </div>
		</div>
		
		<div class="hr-60"></div>
		
		<!--规格参数-->
		<div class="product-parameter tit2">
			<div class="layout" id="product-parameter-main">
	        <h2 id="productParameterId" class="product-title" style="display: block;">规格参数</h2>
	        <div id="productParameterHr30" class="hr-30" style="display: block;"></div>
	        <div id="main-parameter-content-10086339328421" class="product-parameter-main clearfix hide" style="display: block;"><h2>主要参数</h2>
	        	<ul>
	        		<li><label>传播名</label><span>荣耀8X</span></li>
	        		<li><label>上市时间</label><span>2018年9月</span></li>
	        		<li><label>CPU型号</label><span>Hisilicon Kirin 710* （*因使用多种封装工艺，Hisilicon Kirin 710处理器系列包含Kirin 710和Kirin 710F，功能参数一致）</span></li>
	        		<li><label>CPU核数</label><span>八核</span></li>
	        		<li><label>双卡</label><span>双卡双待单通</span></li><li><label>屏幕尺寸</label><span>6.5英寸</span></li>
	        		<li><label>屏幕色彩</label><span>1670万色</span></li>
	        		<li><label>分辨率</label><span>FHD+ 1080x2340 像素</span></li>
	        		<li><label>运行内存（RAM）</label><span>4GB（备注：可使用的内存容量小于此值，因为手机软件占用的空间）</span></li>
	        		<li><label>机身内存（ROM）</label><span>64GB（备注：可使用的内存容量小于此值，因为手机软件占用的空间）</span></li>
	        		<li><label>前置摄像头</label><span>1600万像素，f/2.0光圈，支持固定焦距。备注：不同拍照模式的照片像素可能有差异，请以实际为准</span></li>
	        		<li><label>后置摄像头</label><span>2000万＋200万像素，f/1.8光圈，支持自动对焦（相位对焦/反差对焦）。备注：不同拍照模式的照片像素可能有差异，请以实际为准</span></li>
	        		<li><label>电池容量</label><span>3750mAh（典型值）</span></li>
	        	</ul>
	        </div>
		</div>
		
		<!--包装与售后-->
		<div id="packagId" class="layout tit3">
		   <h2 id="packagTitleId" class="product-title" style="display: block;">包装</h2>
		   <div id="pro-tab-package-service-content" class="product-packing clearfix" style="display: block;">
			   <div id="pro-tab-package-content-10086339328421">
			   	<p><span style="color:#333"><em>手机 X 1</em><em>电池（内置） X 1</em><em>快速指南 X 1</em><em>5V2A充电器 X 1</em><em>三包凭证 X 1</em><em>数据线 X 1</em><em>卡座捅针 X 1</em><em>TPU保护壳 X 1</em></span></p>
			   </div>
		   </div>
		</div>
		
		<!--评价-->
		<div class="bg-gray tit4">
		    <div id="pro-tab-evaluate-content" class="layout">
		        <div class="product-score clearfix">
		            <div class="product-score-average">
		                <label>好评度</label>
		                <p id="pro-evaluate-avgSorce">98<em>%</em></p>
		            </div>
		            <div class="product-score-impress">
		                <label>买家印象</label>
		                <div class="product-score-impress-info">
		                    <ul id="pro-score-impress" class="clearfix"></ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div class="product-comment">
			<ul class="product-comment-list">
				<div class="hr-1000">
					<p>假装这里有评价</p>
					<p>假装这里有评价</p>
					<p>假装这里有评价</p>
					<p>假装这里有评价</p>
					<p>假装这里有评价</p>
					<p>假装这里有评价</p>
					
					<p>假装这里有评价</p>
					<p>假装这里有评价</p>
					<p>假装这里有评价</p>
					
					<p>假装这里有评价</p>
					<p>假装这里有评价</p>
					<p>假装这里有评价</p>
					
				</div>
			</ul>
		</div>
		
		<!--footer部分-->
		<!-- 结尾第一部分   上半部分-->
	    <div class="last">
	        <div class="last-div">
	            <ul>
	                <li class="last-div-li1"><a href=""><i></i>百强企业&nbsp;品质保证</a></li>
	                <li class="last-div-li2"><a href=""><i></i>7天退货&nbsp;15天换货</a></li>
	                <li class="last-div-li3"><a href=""><i></i>48元起免运费</a></li>
	                <li class="last-div-li4"><a href=""><i></i>448家维修网点&nbsp;全国联保</a></li>
	            </ul>
	        </div>
		</div>
		<!--下半部分-->
		<div class="service-container">
			<div class="service">
				
				<div class="service-left">
					<dl class="s1">
		                <dt>
		                <p class="line"></p>
		                <p class="s-title">购物相关</p>
		                </dt>
		                <dd>
		                    <ol>
		                        <li><a target="_blank" href="https://www.vmall.com/help/faq-4355.html" rel="nofollow">购物指南</a></li>
		                        <li><a target="_blank" href="https://www.vmall.com/help/faq-4367.html" rel="nofollow">配送方式</a></li>
		                        <li><a target="_blank" href="https://www.vmall.com/help/faq-4357.html" rel="nofollow">支付方式</a></li>
		                        <li><a target="_blank" href="https://www.vmall.com/help/category-16.html" rel="nofollow">常见问题</a></li>
		                    </ol>
		                </dd>
		            </dl>
		            <dl class="s2">
		                <dt>
		                <p class="line"></p>
		                <p class="s-title">保修与退换货</p>
		                </dt>
		                <dd>
		                    <ol>
		                          <li><a target="_blank" href="https://www.vmall.com/help/faq-833.html" rel="nofollow">保修政策</a></li>
		                        <li><a target="_blank" href="https://www.vmall.com/help/faq-834.html" rel="nofollow">退换货政策</a></li>
		                        <li><a target="_blank" href="https://www.vmall.com/help/faq-5259.html" rel="nofollow">退换货流程</a></li>
		                        <li><a target="_blank" href="http://consumer.huawei.com/cn/support/warranty-query/index.htm" rel="nofollow">保修状态查询</a></li>
		                        <li><a target="_blank" href="http://c-ver.huawei.com/web/" rel="nofollow">配件防伪查询</a></li>
		                    </ol>
		                </dd>
		            </dl>
		            <dl class="s3">
		                <dt>
		                <p class="line"></p>
		                <p class="s-title">维修与技术支持</p></dt>
		                <dd>
		                    <ol>
		                          <li><a target="_blank" href="http://consumer.huawei.com/cn/support/service-center/index.htm" rel="nofollow">售后网点</a></li>
		                          <li><a target="_blank" href="http://consumer.huawei.com/cn/support/reservation/index.htm" rel="nofollow">预约维修</a></li>
		                          <li><a target="_blank" href="http://consumer.huawei.com/cn/support/express-repair/index.htm" rel="nofollow">手机寄修</a></li>
		                            <li><a target="_blank" href="http://consumer.huawei.com/cn/support/sparepart-price/index.htm" rel="nofollow">备件价格查询</a></li>
		                            <li><a target="_blank" href="http://consumer.huawei.com/cn/support/door-to-door-service/" rel="nofollow">上门服务</a></li>
		                    </ol>
		                </dd>
		            </dl>
		            <dl class="s4">
		                <dt>
		                <p class="line"></p>
		                <p class="s-title">关于我们</p></dt>
		                <dd>
		                    <ol>
		                        <li><a target="_blank" href="https://www.vmall.com/help/faq-934.html" rel="nofollow">公司介绍</a></li>
		                        <li><a target="_blank" href="https://www.vmall.com/help/faq-939.html" rel="nofollow">华为商城简介</a></li>
		                        <li><a target="_blank" href="https://www.vmall.com/offshop/hwshoplist" rel="nofollow">华为线下门店</a></li>
		                        <li><a target="_blank" href="https://www.vmall.com/offshop/shoplist" rel="nofollow">荣耀线下门店</a></li>
		                        <li><a target="_blank" href="https://www.vmall.com/common/zhaopin" rel="nofollow">诚征英才</a></li>
		                    </ol>
		                </dd>
		            </dl>
		            <dl class="s5">
		                <dt>
		                <p class="line"></p>
		                <p class="s-title">关注我们</p></dt>
		                <dd>
		                    <ol>
		                        <li><a class="sina" rel="nofollow" href="http://weibo.com/shophuawei" target="_blank">新浪微博</a></li>
		                        <li><a class="qq" rel="nofollow" href="http://t.qq.com/shophuawei" target="_blank">腾讯微博</a></li>
		                        <li><a class="huafen" href="http://club.huawei.com" target="_blank">花粉俱乐部</a></li>
		                    </ol>
		                </dd>
		            </dl>
		            <dl class="s6">
		            	<dt class="relative">
			                <p class="line"></p>
			                <p class="s-title">友情链接</p>
			                <p class="button"><span class="btn btn-prev disabled"> &lt; </span><span class="btn btn-next"> &gt; </span></p>
		                </dt>
		                <dd>
		                	 <ol>
		                        <li><a class="sina" rel="nofollow" href="http://weibo.com/shophuawei" target="_blank">华为官网</a></li>
		                        <li><a class="qq" rel="nofollow" href="http://t.qq.com/shophuawei" target="_blank">华为商城手机版</a></li>
		                        <li><a class="huafen" href="http://club.huawei.com" target="_blank">荣耀官网</a></li>
		                        <li><a class="qq" rel="nofollow" href="http://t.qq.com/shophuawei" target="_blank">花粉俱乐部</a></li>
		                        <li><a class="huafen" href="http://club.huawei.com" target="_blank">网站地图</a></li>
		                    </ol>
		                </dd>
		            </dl>
				</div>
				<div class="service-right">
					<div class="service-r fl">
			            <dl class="s7">
			                <dt>
			                <p class="line"></p>
			                <p class="s-title">400-088-6888</p></dt>
			                <dd>
			                    <ol>
			                        <li><a>24小时客服热线（仅收市话费）</a></li>
			                    </ol>
			                </dd>
			                <dd>
			                    <a id="tools-nav-service-robotim-button" rel="nofollow" class="service-btn btn-line-primary" href=""  style="display: block;"><i class=""></i> 在线客服</a>
			                </dd>
			            </dl>
			        </div>
					
				</div>
			</div>
		</div>
		
		<!--footer部分-->
		<div class="foot">
	        <div class="foot-div">
	            <span class="left"></span>
	            <div class="foot-div-right left">
	                <p>隐私声明&nbsp;服务协议&nbsp;Copyright&nbsp;&copy;&nbsp;2012-2018&nbsp;华为软件技术软件有限公司&nbsp;版权所有&nbsp;保留一切权利</p>
	                <ul>
	                    <li>公安备案&nbsp;</li>
	                    <li><a href="">苏公网安备32011402010009号</a><span></span></li>
	                    <li><a href="">苏ICP备17040376号-6</a><span></span></li>
	                    <li>增值电信业务经营许可证：苏B2-20130048号<span></span></li>
	                </ul>
	            </div>
	            <ul class="right">
	                <li><a href=""><img src="../../images/20180522101715775.jpg" alt=""title = "TRUSTe隐私认证">
	                </a>                                  
	                </li>
	                <li><a href=""><img src="../../images/20160226162415360.png" alt="" title="电子营业执照">              
	                </a></li>
	                <li><a href=""><img src="../../images/20160226162521265.png" alt="" title="可信网站">            
	                </a></li>
	                <li><a href=""><img src="../../images/20180626164548324.png" alt="" title="网络文化经营许可证">
	                </a></li>
	            </ul>           
	        </div>
	    </div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="./js/jquery.exzoom.js"></script>
		<script src="./js/details.min.js"></script>
	</body>
</html> 
	