html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
a:hover{
    color: #cb242b !important;
}
.minicart-pro-empty .icon-minicart, .hungBar a, .shortcut .dropdown-code .code-info span, .i-mall-huaban li .p-img span, .minicart-pro-item .p-choose i, .search-bar .search-bar-form .button, .search-bar .search-bar-key a .icon-fire, .hot-board-index .ec-slider-middle .button-slider-prev, .hot-board-index .ec-slider-middle .button-slider-next, .home-recommend-goods .special-title .title, .shortcut .s-dropdown .icon-minicart:before, .shortcut .dropdown-navs .dropdown-navs-icon:before, .i-mall-prompt .user-info .user-info-detail a:before, .minicart-pro-item .p-tags:before {
    background: url(https://res.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
}
.layout {
    /* *zoom: 1; */
    width: 1200px;
    margin: 0 auto;
}
.hot-board-index .ec-slider-middle .button-slider-prev, .hot-board-index .ec-slider-middle .button-slider-next {
    margin-top: 0;
    width: 80px;
    height: 80px;
    position: relative;
    display: block!important;
    background: url(https://res8.vmallres.com/20181205/images/echannel/icon/icon-header.png) no-repeat;
}
.relative {
    position: relative;
}

.fl, .left, .left-area {
    float: left;
}
.index-channel-floor .grid-items-lg .thumb, .index-channel-floor .grid-items-sm .thumb, .index-channel-floor .grid-items-md .thumb {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.index-channel-floor .b {
    height: auto;
}
.home-recommend-goods .b {
    position: relative;
    width: 1200px;
    /* _zoom: 1; */
}
.goods-rolling {
    overflow: hidden;
    width: 1200px;
    height: 305px;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    direction: ltr;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}
.index-channel-floor .grid-items {
    width: 230px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-top: 0;
}
.index-channel-floor .grid-items-lg .thumb, .index-channel-floor .grid-items-sm .thumb, .index-channel-floor .grid-items-md .thumb {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.grid-items .thumb {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.index-channel-floor .b .grid-items .grid-title {
    width: 210px;
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-top: 12px;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.index-channel-floor .b .grid-items .grid-desc {
    color: #777;
    line-height: 18px;
    padding: 0 10px;
    margin: 4px 20px 6px;
}
.grid-items .grid-desc {
    font-size: 12px;
    font-weight: 400;
    margin: 2px 20px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a4a4a4;
}
.index-channel-floor .b .grid-items .grid-img {
    width: 150px;
    height: 150px;
    margin: 35px auto 0;
}
.index-channel-floor .b .grid-items .grid-img img {
    width: 150px;
    height: 150px;
}
.index-channel-floor .b .grid-items .grid-price {
    color: #d0021b;
    line-height: 21px;
    margin-bottom: 0;
}
.grid-items .grid-price {
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cc0e11;
}
.index-channel-floor .h .channel-title {
    font-size: 26px;
    color: #333;
}
.index-channel-floor .goods-rolling .grid-items .grid-desc {
    font-size: 14px;
    line-height: 36px;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 206px;
    width: 210px;
    left: 6px;
    background: #f3f3f3;
    color: #777;
    margin: 0;
}
.index-channel-floor .goods-rolling .grid-items .grid-title {
    width: 230px;
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-top: 9px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-recommend-goods .h {
    position: relative;
}
/* 公共样式 */








/* top banner start */
.top-banner {
    margin: 0 auto;
    overflow: hidden;
}
.top-banner a{
    display: block;
    position: relative;
    width: 1920px;
    text-align: center;
    left: 50%;
    margin-left: -960px;
    cursor: pointer;
}
/* .top-banner img {
    vertical-align: top;
} */

/* 导航 start */
.shortcut {
    min-width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color: #f9f9f9;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    position: relative;
    z-index: 411;
}

.shortcut .s-sub {
    float: left;
}
.shortcut li{
	float: left;
    padding: 0 8px;
    position: relative;
}
.shortcut li:first-child {
    padding-left: 0;
}
.shortcut li:before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    background: #d3d3d3;
}
.shortcut a{
    color: #a4a4a4;
    font-size: 12px
}
.shortcut .s-main {
    float: right;
    margin-right: -18px;
}
.shortcut li:first-child {
    padding-left: 0;
}

/* header start */
.header {
    min-width: 1200px;
    height: 41px;
    padding: 18px 0 15px 0;
    background: #fff;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    line-height: 1.5;
    box-shadow: 0 0 46px rgba(0,0,0,0.03);
}
.header .layout {
    /* *zoom: 1; */
    width: 1200px;
    margin: 0 auto;
}
.header .layout .left{
    float: left;
}
.logo {
    float: left;
    margin-right: 34px;
}
.logo a {
    float: left;
    cursor: pointer;
}
.logo img {
    height: 36px;
}
.naver {
    float: left;
    max-width: 560px;
    height: 40px;
    overflow: hidden;
}
.naver li.img {
    margin-top: 7px;
}
.naver li {
    float: left;
    margin-right: 24px;
}
.naver a {
    font-size: 16px;
    color: #333;
    position: relative;
    line-height: 40px;
    display: block;
}
.naver li.img img {
    display: block;
    height: 24px;
}
.header .layout .right{
    float: right;
}
.search-bar {
    margin-top: 5px;
    background: #fff;
    border-radius: 16px 16px 0 0;
}

.search-bar .search-bar-form {
    line-height: 1;
    width: 320px;
    height: 30px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    position: relative;
    z-index: 310;
}
.search-bar .search-bar-form .text {
    border: 0;
    color: #3a3a3a;
    width: 290px;
    text-indent: 15px;
    height: 30px;
    line-height: 30px;
    padding-right: 30px;
    background: #f5f5f5;
    border-radius: 15px;
    float: left;
}
.search-bar .search-bar-form .button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    right: 1px;
    top: 0;
    background-position: 0 -21px;
    background-color: #666;
}
.search-bar .search-bar-key {
    position: absolute;
    max-width: 260px;
    right: 31px;
    bottom: 6px;
    z-index: 311;
    white-space: nowrap;
    overflow: hidden;
}
.search-bar .search-bar-key a {
    color: #999;
    font-size: 12px;
    margin-right: 14px;
}

/* 侧边栏 */
.naver-main {
    min-width: 1200px;
    background-color: #FFF;
}
.naver-main .layout {
    position: relative;
    z-index: 410;
}
.category {
    position: absolute;
    left: 0;
    top: 18px;
    width: 200px;
}
.category .category-list {
    position: relative;
    height: 440px;
    box-shadow: 0 0 46px rgba(0,0,0,0.03);
    background: #FFF;
    opacity: 0.9;
    border-radius: 10px;
    color:black;
}
.category .category-item:first-child {
    border-radius: 10px 10px 0 0;
    height: 74px;
}
.category .category-item:last-child {
    border-radius: 0 0 10px 10px;
}
.category .category-item:first-child .category-info {
    height: 48px;
    border-radius: 10px 0 0 0;
}
.category .category-info {
    padding: 12px 0 13px 25px;
    margin: 0;
    height: 47px;
    position: relative;
}

.category .category-info .category-title {
    margin-bottom: 2px;
}
.category .category-info .category-title a {
    font-size: 16px;
    color: #848484;
}
.category .category-info a {
    color: #a6a6a6;
    margin-right: 9px;
    font-size: 14px;
}
.mask{
    width: 700px;
    height: 440px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 18px;
    left: 200px;
    border-radius: 10px;
    display: none;
}
.mask img{
    width: 30%;
    height: 30%;
    float: left;
    margin-top: 10px;
    margin-left: 18px;
}





/* 轮播图 */
.container {
    width: 1349px;
    height: 550px;
    position: relative;
    overflow: hidden;
}
.wrap{
    position: absolute;
    width: 1349px;
}
.slide {
    background: 50% 0px no-repeat;
    width: 100%;
    height: 550px;
    position: absolute;
    display: none;
    
}
.slide-show{
    z-index: 2;
}
.slide-willhide{
    z-index: 1;
}
.pagination{
    position: absolute;
    top: auto;
    left: 448px;
    z-index: 10;
    bottom: 100px;
    width: 100%;
    text-align:center;
}
.pagination span{
    display: inline-block;
    width: 10px;
    height: 10px;
    /* background:rgba(0,0,0,0.9); */
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    margin-left: 10px;
    border: 1px solid #ffffff
}
.pagination span.active{
    background: #ffffff;
}

/* home-channel-menu  */
.home-channel-main {
    position: relative;
    top: -72px;
    height: 34px;
}
.home-channel-list {
    background: #FFF;
    text-align: center;
    border-top: 0 none;
    width: 1200px;
    height: 88px;
    border-radius: 10px;
    box-shadow: 0 2px 26px rgba(0,0,0,0.07);
    position: absolute;
    z-index: 2;
}
.home-channel-list li.s1 {
    width: 270px;
    height: 55px;
    margin-top: 17px;
    border-right: 1px solid #ededed;
    float: left;
    position: relative;
}
.home-channel-list li.s1 .i-mall-prompt {
    padding: 0;
    padding-left: 26px;
    text-align: left;
}
.home-channel-list li.s1 .i-mall-prompt .w-name {
    width: 52px;
    height: 52px;
    margin-right: 17px;
}
.home-channel-list li.s1 .i-mall-prompt .w-name img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.home-channel-list li.s1 .i-mall-prompt .w-reg {
    margin-top: 1px;
    font-size: 14px;
    color: #999;
}
.home-channel-list li.s1 .i-mall-prompt .w-reg span {
    color: #333;
}
.home-channel-list li.s1 .i-mall-prompt .w-reg a {
    color: #333;
}
.home-channel-list li.s1 .i-mall-prompt .w-btn {
    margin-top: 6px;
}
.home-channel-list li.s1 .i-mall-prompt .w-btn a.new {
    width: 66px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #e47b7f;
    color: #de5b60;
    margin-right: 8px;
}
.home-channel-list li.s1 .i-mall-prompt .w-btn a {
    display: inline-block;
    width: 68px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #595454;
    color: #fde4b3;
    border-radius: 5px;
    font-size: 13px;
}
.home-channel-list li.s2 {
    width: 660px;
    margin-top: 17px;
}
.home-channel-list li.s2 ul {
    display: table;
    width: 100%;
}
.home-channel-list li.s2 li {
    text-align: center;
    display: table-cell;
    float: none;
    width: 104px;
}
.home-channel-list li.s2 li a {
    text-align: center;
    display: block;
    width: 100%;
    min-width: 48px;
    max-width: 84px;
    margin: 0 auto;
}
.home-channel-list li.s2 li .p-img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.home-channel-list li.s2 li .p-img .img0 {
    left: 0;
}
.home-channel-list li.s2 li .p-img .img1 {
    left: -40px;
}
.home-channel-list li.s2 li .p-img .img2 {
    left: -80px;
}
.home-channel-list li.s2 li .p-img .img3 {
    left: -120px;
}
.home-channel-list li.s2 li .p-img .img4 {
    left: -160px;
}
.home-channel-list li.s2 li .p-img .img5 {
    left: -200px;
}
.home-channel-list li.s2 li .p-img img {
    position: absolute;
    width: auto;
    height: auto;
}
.home-channel-list li.s2 li .p-dec {
    font-size: 12px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777;
}
.home-channel-list li.s3 {
    width: 266px;
    height: 88px;
    border-left: 1px solid #ededed;
}
.home-channel-list li.s3 .p-notice {
    height: 43px;
    border-bottom: 1px solid #e5e5e5;
}
.home-channel-list li.s3 .icon-notice{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 8px 0 17px;
}
.home-channel-list li.s3 .icon-notice a{
    color: #777;
}
p-notice-list fl{
    height: 215px;
}
.home-channel-list li.s3 .p-notice-content li {
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 43px;
    line-height: 43px;
    font-size: 12px;
}
.home-channel-list li.s3 .p-info li {
    height: 42px;
    line-height: 42px;
    width: 89px;
}
.home-channel-list li {
    float: left;
    position: relative;
}
.home-channel-list li.s3 .p-info li:last-child {
    border: 0;
    width: 88px;
}
.home-channel-list li.s3 .p-info li a{
    display: block;
    color: #666;
    font-size: 12px;
}
.home-channel-list li.s3 .p-info li a span {
    margin-right: 2px;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
    overflow: hidden;
}
.home-channel-list li.s3 .p-info li a span img {
    width: auto;
    height: auto;
    position: absolute;
}
.home-channel-img6 .s3 .img0 {
    left: -240px;
}
.home-channel-img6 .s3 .img1 {
    left: -260px;
}
.home-channel-img6 .s3 .img2 {
    left: -280px;
}
.home-promo-list {
    margin-bottom: 13px;
}
.home-promo-list li:first-child {
    margin: 0 1px 0 0;
}
.home-promo-list li {
    float: left;
    margin-left: 13px;
    width: 290px;
    height: 200px;
    border-radius: 20px;
    transition: all .2s linear 0s;
}
.home-promo-list li a {
    display: block;
    height: 200px;
}
.home-promo-list img {
    width: 290px;
    height: 200px;
    border-radius: 10px;
}
.home-recommend-goods {
    width: 1200px;
}

.index-channel-floor .h .title {
    font-size: 26px;
    color: #333;
    padding: 27px 0 13px 0;
}

.span-232 {
    width: 232px;
}
.span-968 {
    width: 968px;
}
.index-channel-floor .grid-promo-list {
    margin: 0 0 0 -10px;
}
.index-channel-floor .grid-items-sm {
    height: 592px;
}

.index-channel-floor .grid-items-sm img {
    width: 230px;
    height: 592px;
    border-radius: 10px;
}

.grid-items {
    background: #FFF;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    transition: all .2s linear 0s;
    width: 232px;
    height: 290px;
    z-index: 1;
}




.grid-items:hover{
    box-shadow: 0px 0px 20px #d3d3d3;
}




.grid-items .grid-title {
    font-size: 14px;
    font-weight: 400;
    margin: 16px 20px 2px;
    overflow: hidden;
    color: #3a3a3a;
    height: 40px;
    display: table-cell;
    vertical-align: bottom;
    width: 259px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 26px;
}


.index-channel-floor .h .title-1 {
    font-size: 26px;
    color: #333;
    padding: 27px 0 0 0;
    line-height: 1;
}
.index-channel-floor .b {
    height: auto;
}
.index-channel-floor .goods-rolling {
    width: 1210px;
    height: 295px;
    padding-top: 16px;
    position: relative;
    margin-bottom: 8px;
    left: -5px;
}
.index-channel-floor .goods-rolling .grid-items {
    width: 242px;
    height: 295px;
    border: 0;
    background: 0;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    float: left;
}
.index-channel-floor .goods-rolling .grid-items .grid-info {
    width: 230px;
    height: 205px;
    margin: 0 auto;
    background: #fff;
    padding-top: 36px;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.06);
    transition: all .2s linear 0s;
}
.index-channel-floor .goods-rolling .grid-items .grid-img {
    margin: 0 auto;
    margin-bottom: 19px;
    width: 150px;
    height: 150px;
}
.index-channel-floor .goods-rolling .grid-items .grid-img img {
    width: 150px;
    height: 150px;
}


.index-channel-floor .goods-rolling .grid-items .grid-price {
    line-height: 18px;
}


/* 主体  */
.home-channel-container {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
}
.index-channel-floor .home-channel-floor .h {
    margin: 27px 0 12px;
}
.home-channel-floor .h {
    overflow: hidden;
    margin: 22px 0 12px;
    line-height: 32px;
    position: relative;
}

.index-channel-floor .h .channel-nav {
    margin-left: 28px;
    max-width: 950px;
    height: 32px;
    overflow: hidden;
}
.home-channel-floor .channel-nav li {
    float: left;
    font-size: 12px;
}
.index-channel-floor .h .channel-nav a {
    font-size: 14px;
    color: #999;
    margin-left: 0;
    margin-right: 24px;
    line-height: 32px;
}
.home-channel-floor .channel-nav a {
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    color: #a4a4a4;
    position: relative;
}
.index-channel-floor .channel-more {
    height: 32px;
    float: right;
}
.index-channel-floor .h .channel-more a {
    font-size: 14px;
    color: #333;
}
.index-channel-floor .channel-more a {
    padding-right: 10px;
}
.index-channel-floor .goods-list .grid-list {
    margin: 0 0 0 -10px;
}
.index-channel-floor .goods-list .grid-items {
    height: 290px;
}
.index-channel-floor .grid-items-md {
    background: #fff;
}
.index-channel-floor .grid-items-md img {
    width: 230px;
    height: 290px;
    border-radius: 10px;
}
.index-channel-floor .goods-list .grid-items .grid-img {
    width: 150px;
    height: 150px;
}
.index-channel-floor .b .grid-items .grid-price span {
    color: #d0021b;
}
.index-channel-floor .grid-items-lg {
    width: 472px;
    background: #fff;
}
.index-channel-floor .grid-items-lg img {
    width: 472px;
    height: 290px;
    border-radius: 10px;
}
.index-channel-floor .home-channel-floor .goods-rolling {
    width: 1212px;
    height: 240px;
    padding-top: 10px!important;
}
.index-channel-floor .goods-rolling {
    width: 1210px;
    height: 295px;
    padding-top: 16px;
    position: relative;
    margin-bottom: 8px;
    left: -5px;
}
.goods-rolling {
    overflow: hidden;
    width: 1200px;
    height: 305px;
}
.index-channel-floor .home-channel-floor .goods-rolling .grid-items {
    width: 202px;
    height: 240px;
}
.index-channel-floor .goods-rolling .grid-items {
    width: 242px;
    height: 295px;
    border: 0;
    background: 0;
    margin: 0;
    margin-bottom: 10px;
}
.index-channel-floor .home-channel-floor .goods-rolling .grid-items .grid-info {
    width: 190px;
    height: 156px;
    padding-top: 34px;
    background: #f9f9f9;
    box-shadow: none;
}
.index-channel-floor .home-channel-floor .goods-rolling .grid-items .grid-img {
    width: 120px;
    height: 120px;
    margin-bottom: 0;
}
.index-channel-floor .home-channel-floor .goods-rolling .grid-items .grid-img img {
    width: 120px;
    height: 120px;
}
.index-channel-floor .home-channel-floor .goods-rolling .grid-items .grid-title {
    width: 170px;
    height: 21px;
    line-height: 21px;
    margin-top: 8px;
}

.index-channel-floor .home-channel-floor .goods-rolling .grid-items .grid-desc {
    width: 170px;
    top: 158px;
    line-height: 32px;
    height: 32px;
    background: #f3f3f3;
    color: #777;
    font-size: 12px;
    margin: 0;
}

.index-channel-floor .home-channel-floor .goods-rolling .grid-items .grid-price {
    line-height: 21px;
}

/*  新人频道*/
.channel-floor {
    background: #fff;
    width: 100%;
}
.index-channel-floor .ad img {
    border-radius: 10px;
    vertical-align: top;
}
.hr-60 {
    height: 60px;
}

/* 公共底部 */
.service-container, .slogan-container {
    background: #f9f9f9;
    width: 100%;
    min-width: 1200px;
}
.slogan {
    padding: 22px 0 20px;
    width: 1200px;
    margin: 0 auto;
}
.slogan li:first-child {
    padding-right: 120px;
}
.slogan li:first-child+li {
    padding-right: 120px;
}
.slogan li:first-child+li+li {
    padding-right: 110px;
}
.slogan li {
    float: left;
}
.slogan li {
    display: table-cell;
    font-size: 18px;
    color: #333;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}
.slogan .s1 i {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(https://res8.vmallres.com/20181205/images/echannel/icon/icon-header.png?20170620) -358px -207px no-repeat;
}
.slogan .s2 i {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(https://res8.vmallres.com/20181205/images/echannel/icon/icon-header.png?20170620) -398px -207px no-repeat;
}

.slogan .s3 i {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(https://res8.vmallres.com/20181205/images/echannel/icon/icon-header.png?20170620) -438px -207px no-repeat;
}
.slogan .s4 i {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(https://res8.vmallres.com/20181205/images/echannel/icon/icon-header.png?20170620) -478px -207px no-repeat;
}
.service {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 23px 0 24px;
    width: 1200px;
    margin: 0 auto;
    /* *zoom: 1; */
}
.service .service-l {
    width: 920px;
    height: 155px;
    padding-top: 5px;
    border-right: 1px solid #e5e5e5;
}
.service .service-l dl {
    width: 16.66667%;
    float: left;
}
.service dt {
    font-size: 14px;
    color: #3a3a3a;
}
.service dt .title {
    display: block;
    border-left: none;
    padding-left: 0;
    line-height: 1.5!important;
    margin-bottom: 0!important;
}
.service dd li {
    line-height: 22px;
    color: #777;
}
.service dd a {
    color: #777;
    font-size: 12px;
}
.service .service-r {
    width: 279px;
    min-height: 160px;
    margin-top: 2px;
    text-align: center;
}
.service .service-r .s7 {
    width: 279px;
}
.service .service-r .title {
    color: #cb242b;
    font-weight: bold;
    font-size: 24px !important;
    padding: 0;
    line-height: 24px;
}
.service .service-r .s7 dd {
    font-size: 14px;
    color: #333;
}
.service dd li {
    line-height: 22px;
    color: #777;
}
.service .s7 dd li a {
    color: #333;
}
.service dd a {
    color: #777;
    font-size: 12px;
}
.service dd a.service-btn {
    color: #cb242b;
}
.service-btn {
    display: block;
    width: 168px;
    height: 32px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #cb242b;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #cb242b;
    cursor: pointer;
    border-radius: 6px;
}
.service-btn i {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    background: url(https://res8.vmallres.com/20181205/images/echannel/icon/icon-header.png?20170620) -333px -210px no-repeat;
}
.service-code {
    float: left;
    width: 250px;
    margin-top: 26px;
    margin-left: 40px;
}
.service-code h2 {
    font-size: 14px;
    color: #333;
    float: left;
}
.service-code ul {
    float: left;
    margin-left: 3px;
}
.service-code li {
    width: 24px;
    height: 24px;
    margin-right: 11px;
    position: relative;
    float: left;
    background: url(https://res8.vmallres.com/20181205/images/echannel/icon/icon-header.png?20170620) no-repeat;
}
.service-code li.service-code-wechat {
    background-position: -355px -171px;
}
.service-code li.service-code-toutiao {
    background-position: -403px -171px;
}
.service-code li.service-code-sina {
    background-position: -451px -171px;
}
.service-code li.service-code-vmall {
    background-position: -499px -171px;
}
.footer-container {
    background: #f9f9f9;
    width: 100%;
    min-width: 1200px;
    padding-bottom: 0;
}
.footer {
    padding: 22px 0 22px;
    width: 1200px;
    margin: 0 auto;
    color: #666;
    line-height: 1.5;
}
.footer-warrant-area {
    text-align: left;
    color: #a4a4a4;
    line-height: 20px;
}
.footer-warrant-area .footer-warrant-logo {
    width: 82px;
    height: 20px;
    padding: 4px 20px 0 0;
}
.footer-warrant-area .footer-warrant-logo a {
    display: block;
    width: 100%;
    height: 100%;
}
.footer-warrant-area .footer-warrant-logo img {
    vertical-align: top;
    width: 82px;
    height: 20px;
}
.footer-warrant-link li {
    float: left;
}
.footer-warrant-link li a {
    color: #777;
    font-size: 12px;
}
.footer-warrant-link li i{
    content: "";
    width: 1px;
    height: 13px;
    background: #d3d3d3;
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 6px;
}
.footer-warrant-area a {
    color: #a4a4a4;
    font-size: 12px;
}
.footer-warrant-area .footer-warrant-img {
    margin-top: 2px;
}
.footer-warrant-area .footer-warrant-img a {
    display: block;
    width: 70px;
    margin-left: 17px;
    height: 24px;
}
.footer-warrant-area .footer-warrant-img img {
    vertical-align: top;
    width: 70px;
    height: 24px;
}
.fr, .right, .right-area {
    float: right;
}